.movie {
   height: calc(100vh - 64px);
   background-size: cover;
   background-repeat: no-repeat;
   background-position: center;
   position: relative;

   &::before {
      content: '';
      display: block;
      width: 100vw;
      height: calc(100vh - 64px);
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(0,0,0,0.7);
   }
}